<div class="container">
    <p>
        Choose Electric or Gas car details

    </p>
   
            <a class="nav-link text-dark" asp-area="" asp-controller="Car" asp-action="ElectricCar">Electric Car</a>

       <br />
            <a class="nav-link text-dark" asp-area="" asp-controller="Car" asp-action="GasCar">Gas Car</a>

      
   
    
  
</div>